
body {
  background-color: #C6E5F0;
  text-align: center;
}


h1 {
  margin: 20px 100px;
  padding: 20px 0;
  background-color: #5499BD;
  border: 2px solid #2577a1;
  border-radius: 2em;
  font-size: 4em;
  color: whitesmoke;
  text-shadow: 2px 2px 3px #000;
}


#projectLinks {
  width: 50%;
  margin: auto;
  border: 2px solid #2577a1;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #9BC2CF;
  background-color: #54ABD8;
  padding: 5%;
}

#projectLinks a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 3em;
  margin: 20px;
}

#projectLinks a:hover {
  text-shadow: 2px 2px 3px #607075;
  font-weight: bold;
  color: whitesmoke;
}
